StockApplication/src/META-INF/StockWebService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://barryoconnor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://barryoconnor/" name="StockWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/Stocks" schemaLocation="http://localhost:8080/StockWebService/StockWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://barryoconnor/" schemaLocation="http://localhost:8080/StockWebService/StockWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="sort">
<part name="parameters" element="tns:sort"/>
</message>
<message name="sortResponse">
<part name="parameters" element="tns:sortResponse"/>
</message>
<message name="search">
<part name="parameters" element="tns:search"/>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"/>
</message>
<message name="buy">
<part name="parameters" element="tns:buy"/>
</message>
<message name="buyResponse">
<part name="parameters" element="tns:buyResponse"/>
</message>
<message name="sell">
<part name="parameters" element="tns:sell"/>
</message>
<message name="sellResponse">
<part name="parameters" element="tns:sellResponse"/>
</message>
<message name="searchBetween">
<part name="parameters" element="tns:searchBetween"/>
</message>
<message name="searchBetweenResponse">
<part name="parameters" element="tns:searchBetweenResponse"/>
</message>
<message name="updateSharePrice">
<part name="parameters" element="tns:updateSharePrice"/>
</message>
<message name="updateSharePriceResponse">
<part name="parameters" element="tns:updateSharePriceResponse"/>
</message>
<message name="DatatypeConfigurationException">
<part name="fault" element="tns:DatatypeConfigurationException"/>
</message>
<portType name="StockWebService">
<operation name="sort">
<input wsam:Action="http://barryoconnor/StockWebService/sortRequest" message="tns:sort"/>
<output wsam:Action="http://barryoconnor/StockWebService/sortResponse" message="tns:sortResponse"/>
</operation>
<operation name="search">
<input wsam:Action="http://barryoconnor/StockWebService/searchRequest" message="tns:search"/>
<output wsam:Action="http://barryoconnor/StockWebService/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="buy">
<input wsam:Action="http://barryoconnor/StockWebService/buyRequest" message="tns:buy"/>
<output wsam:Action="http://barryoconnor/StockWebService/buyResponse" message="tns:buyResponse"/>
</operation>
<operation name="sell">
<input wsam:Action="http://barryoconnor/StockWebService/sellRequest" message="tns:sell"/>
<output wsam:Action="http://barryoconnor/StockWebService/sellResponse" message="tns:sellResponse"/>
</operation>
<operation name="searchBetween">
<input wsam:Action="http://barryoconnor/StockWebService/searchBetweenRequest" message="tns:searchBetween"/>
<output wsam:Action="http://barryoconnor/StockWebService/searchBetweenResponse" message="tns:searchBetweenResponse"/>
</operation>
<operation name="updateSharePrice">
<input wsam:Action="http://barryoconnor/StockWebService/updateSharePriceRequest" message="tns:updateSharePrice"/>
<output wsam:Action="http://barryoconnor/StockWebService/updateSharePriceResponse" message="tns:updateSharePriceResponse"/>
<fault message="tns:DatatypeConfigurationException" name="DatatypeConfigurationException" wsam:Action="http://barryoconnor/StockWebService/updateSharePrice/Fault/DatatypeConfigurationException"/>
</operation>
</portType>
<binding name="StockWebServicePortBinding" type="tns:StockWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sort">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchBetween">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSharePrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DatatypeConfigurationException">
<soap:fault name="DatatypeConfigurationException" use="literal"/>
</fault>
</operation>
</binding>
<service name="StockWebService">
<port name="StockWebServicePort" binding="tns:StockWebServicePortBinding">
<soap:address location="http://localhost:8080/StockWebService/StockWebService"/>
</port>
</service>
</definitions>